.adult-verification-page {
    max-height: 600px;
    padding: 20px;
    background-color: #FFF6F1;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.adult-verification-container {
    width: 1050px; /* 너비 조정 */
    height: 500px;
    background: rgba(184, 144, 121, 0.9);
    border-radius: 40px;
    padding: 30px; /* 패딩 조정 */
    display: flex;
    flex-direction: column;
}

.adult-verification-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.adult-verification-logo {
    width: 100px; /* 로고 크기 조정 */
    height: 100px; /* 로고 크기 조정 */
    margin-right: 20px;
}

.adult-verification-title {
    font-family: 'Inter', sans-serif;
    font-size: 32px; /* 텍스트 크기 조정 */
    color: #000;
}

.adult-verification-box {
    width: 900px; /* 박스 너비 조정 */
    height: 550px; /* 박스 높이 조정 */
    background: #936C5E;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* 중앙 배치 */
}

.adult-verification-text {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    color: #000;
}
