.anime-page {
    padding: 20px;
    background-color: #FFF6F1;
}

.anime-page-container {
    width: 1200px;
    /* background: #FFE3B0; */
    /* border-radius: 40px; */
    /* padding: 20px; */
    margin: 20px auto;
    opacity: 0.9;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.anime-page-title {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 36px;
    color: #000;
    margin-bottom: 40px;
}

.anime-page-content-section {
    margin-bottom: 20px;
}

.anime-page-content-section h2 {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 28px;
    color: #000;
    text-align: left;
    margin-left: 20px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

.content-box {
    width: 190px;
    height: 240px;
    background: #FFF;
    border-radius: 20px;
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Sans KR', sans-serif;
    overflow: hidden;
    position: relative;
}

.content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.content-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    box-sizing: border-box;
}

.content-arrow-container.left {
    margin-left: 20px;
}

.content-arrow-container.right {
    margin-right: 20px;
}

.content-arrow {
    cursor: pointer;
    font-size: 36px;
    color: #644A41;
}
