.bread-list-page {
    padding: 20px;
    background-color: #FFF6F1;
}

.bread-list-page-container {
    width: 1082px;
    /* background: #FFE3B0; */
    border-radius: 40px;
    padding: 20px;
    margin: 20px auto;
    opacity: 0.9;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.bread-list-section {
    margin-bottom: 20px;
}

.bread-list-section h2 {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 36px;
    color: #000;
    text-align: left;
    margin-left: 20px;
}

.bread-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

.bread-content-box-container {
    position: relative;
    width: 1000px;
    height: 350px; /* 높이도 1.3배로 증가 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 컨테이너 내부에서만 보이도록 설정 */
}

.bread-content-box {
    width: 207.4px; /* 1.3배로 증가 (122px * 1.3) */
    height: 336.6px; /* 1.3배로 증가 (198px * 1.3) */
    /* background: #B89079; */
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0; /* 기본적으로 보이지 않게 설정 */
    visibility: hidden; /* 기본적으로 보이지 않게 설정 */
}

.bread-content-box img {
    width: 201.3; /* 1.3배로 증가 (108px * 1.3) */
    height: 326.7px; /* 1.3배로 증가 (176px * 1.3) */
    border-radius: 20px;
}

.bread-content-box.front,
.bread-content-box.right1,
.bread-content-box.right2,
.bread-content-box.left1,
.bread-content-box.left2 {
    opacity: 1; /* 보이는 항목 */
    visibility: visible; /* 보이는 항목 */
}

.bread-content-box.front {
    transform: translateX(0);
    z-index: 3;
    opacity: 1;
}

.bread-content-box.right1 {
    transform: translateX(195px) scale(0.9); /* 1.3배로 증가 (150px * 1.3) */
    z-index: 2;
    opacity: 1;
}

.bread-content-box.right2 {
    transform: translateX(390px) scale(0.8); /* 1.3배로 증가 (300px * 1.3) */
    z-index: 1;
    opacity: 1;
}

.bread-content-box.left1 {
    transform: translateX(-195px) scale(0.9); /* 1.3배로 증가 (150px * 1.3) */
    z-index: 2;
    opacity: 1;
}

.bread-content-box.left2 {
    transform: translateX(-390px) scale(0.8); /* 1.3배로 증가 (300px * 1.3) */
    z-index: 1;
    opacity: 1;
}

.content-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

.content-arrow-container.left {
    margin-left: 20px;
}

.content-arrow-container.right {
    margin-right: 20px;
}

.content-arrow {
    font-size: 36px;
    color: #644A41;
}
