/* 선호 컨텐츠 선택 페이지 스타일 */

.contents-selection-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2D4C2; /* 배경색 지정 */
}

.contents-outer-rectangle {
    width: 1450px;
    height: 650px;
    background-color: #875D4F; /* 외부 사각형의 배경색 지정 */
    border-radius: 90px;
    display: flex;
    justify-content: flex-end; /* 오른쪽으로 정렬 */
    align-items: center;
    padding-right: 0px;
}

.contents-inner-rectangle {
    width: 1300px;
    height: 610px;
    background-color: #FFF4EF; /* 내부 사각형의 배경색 지정 */
    border-radius: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-right: 0px; /* 겹치게 설정 */
    padding: 20px;
    overflow-y: auto; /* 스크롤 추가 */
}

.contents-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px; /* 간격 조정 */
    margin-top: 30px;
    margin-bottom: 30px;
    width: 900px;
    height: 600px; /* 그리드 높이 조정 */
    overflow-y: auto; /* 그리드 내부 스크롤 추가 */
}

.contents-box {
    position: relative;
    width: 150px; /* 컨텐츠 박스의 너비 조정 */
    height: 200px; /* 컨텐츠 박스의 높이 조정 */
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5em; /* 폰트 크기 1.5배 증가 */
}

.contents-box img {
    border-radius: 20px;
}

.contents-sidebar {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    justify-content: space-between; /* 간격을 균등하게 설정 */
    height: 75%;
}

.circle {
    width: 11px;
    height: 11px;
    border: 2px solid #FFFDFD;
    border-radius: 50%;
}

.contents-box.selected {
    background-color: #C68C7A; /* 선택된 컨텐츠 박스의 배경색 지정 */
}

.contents-next-button {
    width: 250px; /* 버튼 너비 조정 */
    height: 60px; /* 버튼 높이 조정 */
    background-color: #C68C7A;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 24px; /* 폰트 크기 1.5배 증가 */
    cursor: pointer;
    transition: background-color 0.3s;
}

.contents-next-button:disabled {
    background-color: #D3D3D3; /* 비활성화된 버튼 배경색 지정 */
}

.contents-next-button:hover:enabled {
    background-color: #A56B5A; /* 활성화된 버튼 호버시 배경색 지정 */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* 기본 오버레이 색상 (투명) */
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay.selected {
    opacity: 1; /* 선택되었을 때 오버레이 색상 */
    background-color: rgba(198, 140, 122, 0.7);
}
