.director-detail-page {
    max-height: 800px;
    padding: 20px;
    background-color: #FFF6F1;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.director-detail-container {
    width: 1082px;
    height: 570px;
    background: #FFE5B6;
    border-radius: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.director-header {
    display: flex;
    align-items: baseline;
    margin-bottom: 0px;
}

.director-name {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #000;
    margin-right: 10px;
}

.director-title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.sort-option {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

.chevron-icon {
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    left: 0;
    background: #FFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1000; /* z-index를 높게 설정 */
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.dropdown-item:hover {
    background: #eee;
}

.vod-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5개의 아이템을 한 줄에 배치 */
    grid-gap: 20px; /* 아이템 사이의 간격 */
    width: 100%;
    margin-top: 10px; /* 드롭다운 메뉴와 vod-item 사이의 간격 추가 */
}

.vod-item {
    height: 200px;
    background: #FFF;
    border-radius: 40px;
    position: relative;
}

.vod-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    background: #541704;
    border-radius: 0 0 40px 40px;
    position: absolute;
    bottom: 0;
}

.circle-icon {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-size: 24px;
    z-index: 1;
}
