.drama-page {
    padding: 20px;
    background-color: #FFF6F1;
}

.drama-page-container {
    width: 1200px;
    margin: 20px auto;
    opacity: 0.9;
}

.drama-page-title {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 36px;
    color: #000;
    margin-bottom: 40px;
}

.drama-page-content-section {
    margin-bottom: 20px;
}

.drama-page-content-section h2 {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 28px;
    color: #000;
    text-align: left;
    margin-left: 20px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

.content-box {
    width: 320px !important; /* 기존 190px에서 50px 증가 */
    height: 280px !important; /* 기존 240px에서 50px 증가 */
    /* background: #FFF; */
    border-radius: 10px !important;
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Sans KR', sans-serif;
    overflow: hidden;
    position: relative;
}

.content-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.content-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    box-sizing: border-box;
}

.content-arrow-container.left {
    margin-left: 20px;
}

.content-arrow-container.right {
    margin-right: 20px;
}

.content-arrow {
    cursor: pointer;
    font-size: 36px;
    color: #644A41;
}
