/* 초기 화면 스타일 */

.initial-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2D4C2;
    cursor: pointer; /* 클릭 가능하도록 커서 변경 */
}

.outer-rectangle {
    width: 1450px; /* 크기를 키움 */
    height: 650px; /* 크기를 키움 */
    background-color: #FFF4EF;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial-logo-background {
    width: 500px; /* 로고 크기 조정 */
    height: 500px; /* 로고 크기 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial-logo-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}
