.layout {
    display: flex;
    height: 100vh;
    overflow: hidden; /* 전체 페이지에 대한 스크롤을 없애기 위해 overflow를 hidden으로 설정 */
    background-color: #FFF6F1;
}

.layout-sidebar {
    width: 220px;
    background-color: #FFF6F1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1001;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.layout-logo {
    width: 175px;
    height: 130px;
    margin-bottom: 20px;
}

.layout-search {
    width: 160px;
    padding: 8px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #644A41;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: url('../images/search-icon.png') no-repeat left center;
    background-size: 20px;
    padding-left: 30px;
}

.layout-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.layout-menu a {
    text-decoration: none;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding: 12px 0;
    text-align: center;
    margin: 8px 0;
    background-color: #FFF;
    border: 2px solid #644A41;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.layout-menu a:hover {
    background-color: #FFE3B0;
    color: #644A41;
}

.layout-topbar {
    display: flex;
    justify-content: center;
    background-color: #FFF6F1;
    width: calc(100% - 220px);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 220px;
    height: 80px;
    z-index: 1000;
}

.layout-topbar-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1100px;
}

.layout-topbar a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding: 15px 0;
    margin: 0 10px;
    background-color: #936C5E;
    border-radius: 30px;
    transition: background-color 0.3s;
    width: 156px; /* 모든 버튼의 너비를 동일하게 설정 */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; /* 텍스트 중앙 정렬 */
}

.layout-topbar a:hover {
    background-color: #644A41;
}

.layout-main-content {
    margin-top: 80px;
    margin-left: 240px;
    padding: 20px;
    flex-grow: 1;
    background-color: #FFF6F1;
    height: calc(100% - 80px);
    overflow-y: auto; /* 메인 콘텐츠 영역에만 스크롤이 있도록 설정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
