.main-page {
    padding: 20px;
    background-color: #FFF6F1;
}

/* 주황 배경 - 배경 색 없앰 */
.main-page-container {
    width: 1282px;
    border-radius: 40px;
    padding: 20px;
    margin: 20px auto;
    opacity: 0.9;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

/* 메인 페이지 배너 */
.main-page-banner-ad {
    width: 1406px; /* 배너 크기 100%로 설정 */
    height: 550px; /* 배너 크기 증가 */
    background: #FFF4EF;
    border: 1px solid #8a8a8a; /* 테두리 추가 */
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -38px 0 20px -32px; /* 왼쪽 맞춤을 위해 margin 수정 */
}

.main-page-banner-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 이미지가 박스 밖으로 나가지 않도록 */
}

.main-page-banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 배너 영역에 맞게 조절됨 */
}

.main-page-banner-image iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 동영상이 배너 영역에 맞게 조절됨 */
    border: none; /* 동영상의 기본 테두리 제거 */
}

.main-page-banner-text {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 48px;
    color: #000;
}

.banner-arrow {
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 36px; /* 화살표 텍스트 크기 설정 */
    color: #ffffffb9;
}

.left-arrow {
    left: 20px; /* 화살표 위치 조정 */
}

.right-arrow {
    right: 20px; /* 화살표 위치 조정 */
}

/* 배너 페이지 수(1/5) */
.banner-pagination {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 16px;
    color: #000;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 15px;
}

/* 배너 애니메이션용 */
.banner-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex; /* 추가 */
}

.banner-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 2s ease; /* 원하는 속도로 조정 */
    display: flex; /* 추가 */
    justify-content: center; /* 추가 */
    align-items: center; /* 추가 */
}

.banner-slide img, .banner-slide iframe {
    width: 100%;
    height: 100%; /* height를 100%로 설정하여 포스터와 동영상이 같은 크기를 유지하도록 설정 */
    object-fit: cover; /* 비율을 유지하면서 요소를 자를 수 있는 옵션 */
}

.banner-slide-enter {
    transform: translateX(100%);
}

.banner-slide-enter-active {
    transform: translateX(0);
}

.banner-slide-exit {
    transform: translateX(0);
}

.banner-slide-exit-active {
    transform: translateX(-100%);
}

/* 콘텐츠 추천 */
.main-page-content-section {
    margin-bottom: 20px;
    width: 100%;
    height: 1500%;
}

/* 콘텐츠 추천 폰트 */
.main-page-content-section h2 {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 28px;
    color: #000;
    text-align: left;
    margin-left: 20px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center; /* 각 콘텐츠 박스를 중앙에 정렬 */
    width: 100%;
    padding: 20px;
    position: relative; /* 상대 위치 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 박스 크기 계산 */
}

/* 포스터 크기 */
.content-box {
    width: 190px; /* 콘텐츠 박스 크기 증가 */
    height: 240px; /* 콘텐츠 박스 크기 증가 */
    background: #FFF;
    border-radius: 20px;
    margin: 0 10px; /* 각 박스 사이에 동일한 간격 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Sans KR', sans-serif;
    overflow: hidden; /* 이미지가 박스 밖으로 나가지 않도록 */
}

/* 들어오는 포스터 URL */
.content-box img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 이미지가 박스에 맞게 조절됨 */
}

.content-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* 화살표 컨테이너 너비 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 박스 크기 계산 */
}

.content-arrow-container.left {
    margin-left: 20px; /* 왼쪽 화살표 컨테이너 간격 조정 */
}

.content-arrow-container.right {
    margin-right: 20px; /* 오른쪽 화살표 컨테이너 간격 조정 */
}

.content-arrow {
    cursor: pointer;
    font-size: 36px;
    color: #644A41;
}
