/* SearchPage.css */

body, html {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.search-page {
    display: flex;
    height: 100vh;
}

.search-area {
    width: 40%;
    background-color: #FFF6F1; /* 왼쪽 영역 배경색 */
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* 로고 위치 조정 가능하게 함 */
    padding-top: 70px;
}

.logo {
    width: 160px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer; /* 로고 클릭 가능하게 설정 */
}

.search-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 120px; /* 로고와 검색 박스 사이의 거리 설정 */
    margin-bottom: 20px;
    position: relative;
}

.voice-search-icon {
    cursor: pointer;
    color: #000;
    position: absolute;
    right: 80px; /* 검색 아이콘 왼쪽에 배치 */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.search-input {
    flex-grow: 0.5; /* 텍스트 창 길이를 50%로 설정 */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #000;
    background-color: #FFF6F1; /* 입력창 배경색 */
    color: #000;
    margin-left: 50px;
}

.search-input:focus {
    outline: none;
    border-bottom: 2px solid #ccc;
}

.search-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: #000;
    position: absolute;
    right: 45px; /* 텍스트 입력 창 오른쪽에 위치 */
    top: 50%;
    transform: translateY(-50%);
}

.hg-theme-default .hg-button {
    background-color: #ffe3b0c6; /* 키보드 버튼 배경색 */
    border: 1px solid #ccc; /* 키보드 버튼 테두리 추가 */
    color: #000;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* 키보드 버튼 둥근 모서리 추가 */
}

.hg-theme-default .hg-button:hover {
    background-color: #FFD29B; /* 키보드 버튼 호버 색상 */
}

.hg-button-bksp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hg-button-bksp::before {
    content: '⌫';
    font-family: "IBM Plex Sans KR"; 
    font-weight: 900;
    display: inline-block;
    margin-right: 5px;
}

.hg-button-shift {
    width: 50px;
}

.hg-button-space {
    width: 200px;
}

.hg-theme-default {
    background-color: #FFF6F1; /* 키보드 전체 배경색 */
    /*border-radius: 12px; /* 키보드 전체 둥근 모서리 추가 */
    border: 1px solid #ccc; /* 키보드 테두리 추가 */
}

.voice-search {
    margin-top: 20px;
}

.display-area {
    width: 70%;
    background-color: #FFE3B0c6; /* 오른쪽 영역 배경색 */
    padding: 20px;
    overflow-y: auto;
}

.search-page-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.search-query {
    font-size: 28px;
    margin-bottom: 20px;
}

.search-results {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.search-result-box {
    width: 200px;
    height: 300px;
    background-color: #FFF6F1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px; /* 더 큰 둥근 모서리 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-poster {
    width: 95%;
    height: 90%;
    background-color: #ffffff;
    margin-bottom: 10px;
    /*border-radius: 32px; /* 더 큰 둥근 모서리 */
}

.result-title {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

@media (max-width: 768px) {
    .search-result-box {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .search-result-box {
        width: 100%;
    }
}

/* 음성 검색 상태를 표시하는 마이크 아이콘 스타일 */
.listening-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    color: #FFF;
    transition: width 0.3s ease, height 0.3s ease; /* 크기 변화 애니메이션 추가 */
}
